/* Estilos para Windows */
.windows body {
	font-family: "Segoe UI", Arial, sans-serif;
	background-color: #f0f0f0;
}

/* Estilos para Linux */
.linux body {
	font-family: "Ubuntu", "DejaVu Sans", sans-serif;
	background-color: #d0d0d0;
}

/* Estilos para macOS */
.macos body {
	font-family: "San Francisco", Helvetica, sans-serif;
	background-color: #e5e5e5;
}
