/* Estilos específicos para Windows */
.windows body {
	font-family: "Segoe UI", Arial, sans-serif;
	background-color: #f0f0f0;
}

/* Estilos específicos para Linux */
.linux body {
	font-family: "San Francisco", Helvetica, sans-serif;
	background-color: #e5e5e5;
}

/* Estilos específicos para macOS */
.macos body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #cccccc;
}
